body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x:hidden;
    padding: 0;
    margin: 0;
}
body .body{
    flex: 1;
    padding: 0;
}
.contenedor_buscador{
    background: #e6e6e6;
    box-sizing: border-box;
}
.segundo_contenedor_buscador{
    background: #e6e6e6;
    margin-bottom: 10px;
    margin-top: 0px;
     font-size: 16px;
}
.contenedor_contenido{
    display: table;
     background: #e6e6e6;
      padding: 18px;
}
.posicion_busador{
    display: table-cell;
     width: 79%;
}
.style_camposbuscar{
    width: 258px; float: left;
     padding: 0 10px; 
     margin-bottom: 20px;
    
}
#style_codigo_buscador{
    float: left;
    width: 258px; 
    padding: 0px 10px;
}
.style_precio_buscador{
    width: 32%;
    float: left; 
    padding: 0 23px;
    margin-bottom: 20px;
}
.linea_buscador{
    height: 5px;
    background: black;
    border: 0;
    padding: 0 8px 0 10px;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.style_boton_buscador{
    display: table-cell;width: 20%;padding: 28px 0px 0px 0px; vertical-align: top;
}
@font-face{
      font-family: raleway;
      src: url('../fonts/Raleway-Regular.ttf'),
}
@font-face{
    font-family: century gothic;
    src: url('../fonts/GOTHIC.TTF'),
}
h1,h2,h3,h4,h5,h6{
    font-family: 'raleway';
}
p,span{
    font-family: 'century gothic';
}
.navbar_info{
    display: table;
     margin-right: -46px;
     border-left: 1px solid #e5e5e5;
     padding: 5px;
}
.navbar_tel{
    display: table-cell;
    vertical-align: middle;
    font-size: 60px;
    padding: 0 15px;
    height: 70px;
    vertical-align: middle;
    font-size: 16px;
    
    
}
.contenedor_pse{
    font-size: 18px;
    line-height: 27px;
    
}
#tamaño_pse{
    margin-top: 8px;
    
}
#propietarios_slide .card.item .caracteristicas{
    font-weight: 400;
    padding: 6px;
    font-size: 13px;
    color: #535353;
}
.tamaño_cards{
    width: 25rem;
}
.style_span_tipo_inmueble{
    position: absolute;
    top: 15px;font-size: 9px;
    color: #fff;
    text-align: center;
    right: 245px;
    letter-spacing: 1.5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px 10px 4px 10px;text-transform: uppercase;
}
.style_span_precio{
    position: absolute;
    top: 257px;
    font-size: 9px;color: #fff;
    text-align: center;
    right: 14px;
    letter-spacing: 1.5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px 10px 4px 10px;text-transform: uppercase;
}
.contenido_card{
    padding: 20px 20px 15px;
}
.titulo_cards{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}
#logos_servicios{

    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
.contenedor_publicaciones{
    background: #fff;
    margin-bottom: 30px;
}
.titulo_publicaciones{
    padding: 45px 31px;
}
.contenedor_consignar{
    background: black;
    padding: 18px 0;
}
.frase_consiganr{
    font-size: 24px;
    margin: 0;
    line-height: 50px;
    color: #fff;
    font-weight: 300;
}
.boton_consiganar{
    background: #fff;
    float: right;
    cursor: pointer;
    padding: 12px 30px 10px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    color: black;
}
.contacto_footer{
    left: -4px;
}
.titulo_footer{
    font-size: 25px;
    margin-bottom: 30px;
}
.conten_lista_footer{
    margin-left: 17px;
    margin-top: -17px;
    line-height: 2.3;
}
.iconos_footer{
    font-size: 25px; 
       margin-left: 45px;
}
.conten_link{
    margin-top: 20px;
    margin-left: -34px;
}
.style_lista_link{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #535353;
    line-height: 3.0;
}
.style_icono_link{
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
    line-height: 20px;
}
.style_a{
    color:black;
}
.margen_form{
    margin-top: 10px;
}
.texto{
    margin-left: 19px;
    margin-top: -33px;
}
.chek{
    margin-top: 7px;
}
#booton_footer{
    margin-top: 18px;
}
#style_img_ubica{
    width: 415px;
    margin-left: -28px;
}
.margen_ubica{
    margin-left: -9px;
}
.image_quienessomos{
    background: url(../images/no_image.png);
    background-size: cover;
    height: 270px;
    background-position: center center;
    position: relative;
    background-color: #4c4c4c52;
   
}
.img_quienesomos{
    
    height: 100%;
     object-fit:contain;
      width: inherit;
}
.banner_estadi{
    background: url(../images/banner_estadisticas.png);
    background-color: #4c4c4c52;
    height: 330px;
    
}
.tamaño_icono_banner{
    font-size: 25px;padding: 19px;
}
.contenedor_banner{
    margin-top: 67px;
}
.magen_formulario{
    margin-bottom: 1rem;
}
.titulo_asesor{
    font-size: 25px;
     margin-bottom: 5px;
}
.style_inmueble{
    float: left;
}
.style_li{
    font-size: 25px;
     margin-bottom: 5px;
}
.style_precio {
    float: right;
}
.style_color{
    margin-bottom: 5px;
    font-size: 25px;
     color:red;
}
.span_clientes{
    position: absolute;
    top: 17px;
    font-size: 9px;
    color: #fff;
    text-align: center;
    right: 14px;
    letter-spacing: 1.5px;
    background-color: rgba(70, 68, 68, 0.5);
    padding: 6px 10px 4px 10px;
    text-transform: uppercase;
}
.contenedor_contac{
    margin-bottom: 8px;
}
.li_style_contac{
    width: 55px;
    font-size: 20px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    border: 1px dashed #535353;
    text-align: center;
    margin-right: 25px;
}
.maps{
    background: url(../images/no_image.png);
    background-size: cover;
    height: 270px;
    background-position: center center;
    position: relative;
    background-color: #4c4c4c52;
   
}
.logo_pse{
    object-fit: contain;
    height: 75%;
    width: 75%;
    margin-top: 8px;
}
.estilo_nav{
    margin-left: 343px;
    margin-right: 58px;
    position: absolute;
}
#img_quienes{
    object-fit: cover;
    height: 100%;
}
