@font-face {
    font-family: 'Century Gothic';
    src: local('Century Gothic'),
    url(../fonts/Century-Gothic.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'Raleway-bold';
    src: local('Raleway-bold'),
    url(../fonts/Raleway-Bold.ttf);
}