.bg-dark{
    background-color: #343a40 !important;
}
.background-image{
    background-image: url(../admin/images/background_admin_noticias.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width:100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}